<div class="grid">


<div class="col-12">
  <div class="flex justify-content-center align-content-center text-align-center">

    <!--LOGIN-->
    @if (loginCard) {
      <form [formGroup]="loginForm"(ngSubmit)="onSubmitLoginForm()">

        <p-card
         styleClass="mt-10"
         header="Login"
         subheader="Faça login com sua conta existente!"
          >

         <div class="flex ustify-content-center align-content-center text-align-center">
          <input
                type="email"
                pInputText
                placeholder="Email"
                formControlName="email">

         </div>

         <div class="flex ustify-content-center align-content-center text-align-center">
          <input
                type="password"
                pInputText
                placeholder="Senha"
                formControlName="password">

         </div>

         <div class="card flex justify-content-center mt-3">

          <button pButton type="submit" label="Login" [disabled]="!this.loginForm.valid" class="p-button-success"></button>
         </div>
         <span class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"

         (click)="loginCard = false"
         style="cursor: pointer;"
         >Criar Conta</span>

        </p-card>
      </form>
    }



    <!--REGISTER-->
    @if (loginCard == false) {

      <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignupForm()">

        <p-card
         styleClass="mt-10"
         header="Criar Conta"
         subheader="Crie já a sua conta!"


         >

         <div class="flex ustify-content-center align-content-center text-align-center">
          <input
            type="text"
            pInputText
            placeholder="Nome"
            formControlName="name"


            >

         </div>

         <div class="flex ustify-content-center align-content-center text-align-center">
          <input
            type="email"
            pInputText
            placeholder="Email"
            formControlName="email"
          >
         </div>

         <div class="flex ustify-content-center align-content-center text-align-center">
          <input
            type="password"
            pInputText
            placeholder="Senha"
            formControlName="password"

            >

         </div>

         <div class="card flex justify-content-center mt-3">

          <button
           pButton
           type="submit"
           label="Criar conta"
           [disabled]="!this.signupForm.valid"
           class="p-button-success"

           >

          </button>
         </div>
         <span class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
         (click)="loginCard = true"
         style="cursor: pointer;"
         >Fazer Login</span>


        </p-card>
      </form>
    }



  </div>

</div>

</div>
